---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<BaseLayout>
  <section class="">
    <ul class="grid">
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}/`}>
              {post.data.heroImage && (
                <img
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
              )}
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
