---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import FormattedDate from "../../components/FormattedDate.astro"

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<Layout>
  <section class="">
    <ul class="grid gap-4">
      {
        posts.map((post) => (
          <li>
            <a class="hover:underline" href={`/posts/${post.slug}/`}>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
              <h4 class="font-semibold text-xl">{post.data.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
