@import "tailwindcss";

@font-face {
  font-family: Josefin Sans;
  src: local("Josefin Sans Semibold"), url(/fonts/josefin-sans-semibold.ttf);
}

@layer base {
  h1 {
    @apply text-3xl;
    font-family: Josefin Sans;
  }

  h2 {
    @apply text-2xl;
    font-family: Josefin Sans;
  }

  a {
    text-decoration-color: var(--josef-primary-color);
  }

  a:hover {
    @apply underline decoration-2;
  }

  ul {
    @apply list-inside list-disc;
  }

  pre {
    @apply my-4 text-sm;
  }

  img {
    @apply mb-4;
  }
}

@layer josef-theme {
  :root {
    --josef-primary-color: #c6797e;
    --josef-background-color: #2a1518;
    --josef-text-color: #fffaeb;
    --josef-accent-color: #3a4d6b;
    --josef-secondary-color: #4d6685;
    --josef-tertiary-color: #825f4a;
    --josef-shadow-color: #333333;

    /* --rouge-background: #151627; */
    /* --rouge-background: #07070d; */
  }

  body {
    background-color: var(--josef-background-color);
    /* background-color: var(--rouge-background); */
    color: var(--josef-text-color);
  }

  ::selection {
    background: #e5bcbd4d;
  }
}
