@import "tailwindcss";

@theme {
  --color-accent: #c6797e;
  --color-blue: #1fb6ff;
  --color-purple: #7e5bef;
  --color-pink: #ff49db;
  --color-orange: #ff7849;
  --color-green: #13ce66;
  --color-yellow: #ffc82c;
  --color-gray-dark: #273444;
  --color-gray: #8492a6;
  --color-gray-light: #d3dce6;

  --color-rouge-50: #fbf6f5;
  --color-rouge-100: #f8ebeb;
  --color-rouge-200: #f1dadb;
  --color-rouge-300: #e5bcbd;
  --color-rouge-400: #d59799;
  --color-rouge-500: #c6797e;
  --color-rouge-600: #ab535d;
  --color-rouge-700: #8f414c;
  --color-rouge-800: #783943;
  --color-rouge-900: #68333d;
  --color-rouge-950: #39181d;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: Josefin Sans;
  src: local("Josefin Sans Semibold"), url(/fonts/josefin-sans-semibold.ttf);
}

@layer base {
  h1 {
    @apply text-3xl;
    font-family: Josefin Sans;
  }

  h2 {
    @apply text-2xl;
    font-family: Josefin Sans;
  }

  a {
    text-decoration-color: var(--josef-primary-color);
  }

  a:hover {
    @apply underline decoration-2;
  }

  ul {
    @apply list-inside list-disc;
  }

  pre {
    @apply my-4 text-sm;
  }

  img {
    @apply mb-4;
  }
}

@layer josef-theme {
  :root {
    --josef-primary-color: #c6797e;
    --josef-background-color: #2a1518;
    --josef-text-color: #fffaeb;
    --josef-accent-color: #3a4d6b;
    --josef-secondary-color: #4d6685;
    --josef-tertiary-color: #825f4a;
    --josef-shadow-color: #333333;

    /* --rouge-background: #151627; */
    /* --rouge-background: #07070d; */
  }

  body {
    background-color: var(--josef-background-color);
    /* background-color: var(--rouge-background); */
    color: var(--josef-text-color);
  }

  ::selection {
    background: #e5bcbd4d;
  }

  /* let examples breathe */
  .astro-code {
    margin: 1em -1rem;
    padding: 1rem;
  }

  /* modify inline code snippets to use background */
  p > code {
    @apply text-sm;
    background-color: #1c0c0f;
    color: #a2a3aa;
    padding: 0.1em 0.3em;
  }
}
