@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Josefin Sans;
  src: local("Josefin Sans Semibold"), url(/fonts/josefin-sans-semibold.ttf);
}

@layer josef-theme {
  :root {
    --josef-primary-color: #c6797e;
    --josef-background-color: #1c0c0f; /* Darker Gray */
    --josef-text-color: #fffaeb; /* Softer White */
    --josef-accent-color: #3a4d6b; /* Dark Blue-Green */
    --josef-secondary-color: #4d6685; /* Darker Blue */
    --josef-tertiary-color: #825f4a; /* Darker Brown */
    --josef-shadow-color: #333333; /* Dark Gray */
  }

  body {
    background-color: var(--josef-background-color);
    color: var(--josef-text-color);
  }
}

@layer base {
  h1 {
    @apply text-2xl;
    font-family: Josefin Sans;
  }

  h2 {
    @apply text-xl;
    font-family: Josefin Sans;
  }

  a {
    text-decoration-color: var(--josef-primary-color);
  }

  a:hover {
    @apply underline decoration-2;
  }
}
