:root {
  /* 
    Rouge Base
    -light for LIGHT theme
    -dark for DARK theme
  */
  --rouge-yellow: #a17d3b;
  --rouge-green-light: #518a8d;
  --rouge-green-dark: #969e92;
  --rouge-orange-light: #dc771e;
  --rouge-orange-dark: #d7a1a5;
  --rouge-red-light: #db6375;
  --rouge-red-dark: #db6375;
  --rouge-purple: #8283a1;
  --rouge-peach-light: #d38974;
  --rouge-peach-dark: #f0b7a7;
  --rouge-punctuation: #6c83a1;
  --rouge-text: #5a535b;
  --rouge-comment-light: #2f3f53b3;
  --rouge-comment-dark: #a2a6ac;
  --rouge-light: #b26d71;
  --rouge-dark: #c6797e;

  /* consumables */
  --rouge: var(--rouge-light);
  --rouge-green: var(--rouge-green-light);
  --rouge-orange: var(--rouge-orange-light);
  --rouge-red: var(--rouge-red-light);
  --rouge-peach: var(--rouge-peach-light);
  --rouge-comment: var(--rouge-comment-light);
}

html[theme='light'] {
  --rouge: var(--rouge-light);
  --rouge-green: var(--rouge-green-light);
  --rouge-orange: var(--rouge-orange-light);
  --rouge-red: var(--rouge-red-light);
  --rouge-peach: var(--rouge-peach-light);
  --rouge-comment: var(--rouge-comment-light);
}

html[theme='dark'] {
  --rouge: var(--rouge-dark);
  --rouge-green: var(--rouge-green-dark);
  --rouge-orange: var(--rouge-orange-dark);
  --rouge-red: var(--rouge-red-dark);
  --rouge-peach: var(--rouge-peach-dark);
  --rouge-comment: var(--rouge-comment-dark);
}

pre {
  background-color: var(--theme-bg-contrast);
  color: var(--rouge);
  font-size: 90%;
  padding: 2rem 1rem;
  line-height: 1.42;
}

code {
  white-space: nowrap;
  background-color: var(--theme-bg-contrast);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

@media (min-width: 66rem) {
  pre {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.token {
  color: var(--theme-text, initial);
}

.token.keyword {
  color: var(--rouge-purple);
}

.token.string {
  color: var(--rouge-green);
}

.token.comment {
  transition: none;
  color: var(--rouge-comment);
  /* filter: brightness(50%); */
}

.token.function {
  color: var(--rouge-orange);
}

.token.punctuation {
  color: var(--rouge-purple);
}

.token.operator {
  color: var(--rouge-purple);
}

.token.parameter {
  color: var(--rouge-red);
}

.token.number,
.token.boolean {
  color: var(--rouge-peach);
}
