/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  transition: all 200ms ease;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colors-bg-contrast);
  box-shadow: inset 0 0 2px var(--colors-shadow);
  transition: all 200ms ease;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colors-primary);
  border-radius: 3px;
  transition: all 200ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colors-primary);
  transition: all 200ms ease;
  cursor: pointer;
}
