body {
  /* line-height: 2rem; */
  font-size: 16px;
  font-kerning: normal;
  line-height: 2;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

blockquote {
  font-style: italic;
  font-weight: 400;
  /* filter: brightness(95%); */
  /* color: var(--ja-grey-light); */
}

* {
  transition: all 250ms ease;
  -webkit-transition: -webkit-filter 250ms ease;
  -moz-transition: all 250ms ease;
}

pre {
  border-radius: 3px;
  overflow: auto;
  overflow-wrap: normal;
}
