---
import { getCollection } from "astro:content"
import Layout from "../layouts/Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { SITE_DESCRIPTION } from "../constants"

const posts = (await getCollection("posts"))
  .filter((post) => post.data.isFeatured)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Layout class="grid grid-flow-row gap-8">
  <div>
    <h1 class="">Hello 👋</h1>
    <p>{SITE_DESCRIPTION}</p>
  </div>
  <section class="grid gap-4">
    <h2 class="">Featured Posts</h2>
    <ul class="grid gap-4 list-none">
      {
        posts.map((post) => (
          <li>
            <a class="hover:underline" href={`/posts/${post.slug}/`}>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
              <h4 class="text-xl font-semibold">{post.data.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
