---
// import { ViewTransitions } from "astro:transitions"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants"

interface Props {
  /**
   * The class name to apply to the main element.
   */
  class?: string
  /**
   * The title of the page.
   */
  title?: string
  /**
   * The description of the page.
   */
  description?: string
  /**
   * The open graph image to use for the page.
   */
  image?: string
}

const {
  class: className,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/og-image.png",
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <slot name="head" />
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class:list={[
      // layout
      "flex flex-col gap-y-6",
      // full size
      "min-h-screen mx-auto max-w-3xl",
      // padding in small screens
      "px-2 sm:px-0",
    ]}
  >
    <div class="py-2">
      <Header />
    </div>
    <div
      class:list={[
        // carry layout
        "flex flex-col gap-y-6",
        // center
        "mx-auto flex-auto",
        // smaller than parent container
        "w-full",
        // "w-5/6",
      ]}
    >
      <main class={className}>
        <slot />
      </main>
      <!-- push footer to the bottom of the page if content is lacking -->
      <div class="mt-auto mb-8">
        <!-- give footer some breathing room -->
        <div class="mt-12">
          <Footer>
            <div slot="above">
              <!-- use the same padding as between link collection headings -->
              <hr class="py-3 border-rouge-300" />
            </div>
          </Footer>
        </div>
      </div>
    </div>
  </body>
</html>
